<footer class="bg-dark text-light text-center py-5 position-relative">
  <div class="container">
    <div class="row">

      <div class="col-md-4 mb-4 mb-md-0">
        <h5>Contacts</h5>
        <ul class="list-unstyled" id="contact">
          <li>Address: Example Avenue, 123</li>
          <li>Email: info&#64;example.com</li>
          <li>Phone: +39 123 456 789</li>
        </ul>
      </div>
      
      <div class="col-md-4 mb-4 mb-md-0">
        <h5>Useful Links</h5>
        <ul class="list-unstyled">
          <li><a href="#" class="footer-link text-light">Terms and Conditions</a></li>
          <li><a href="#" class="footer-link text-light">Privacy Policy</a></li>
          <li><a href="#" class="footer-link text-light">FAQ</a></li>
        </ul>
      </div>
      
      <div class="col-md-4 mb-4 mb-md-0">
        <h5>Social</h5>
        <ul class="list-unstyled">
          <li><a href="#" class="footer-link text-light"><i class="fab fa-facebook me-1"></i> Facebook</a></li>
          <li><a href="#" class="footer-link text-light"><i class="fab fa-twitter me-1"></i> Twitter</a></li>
          <li><a href="#" class="footer-link text-light"><i class="fab fa-instagram me-1"></i> Instagram</a></li>
        </ul>
      </div>
    </div>
    <hr class="mb-4">
    <p class="mb-0">&copy; 2024 Weather App. All rights reserved.</p>
  </div>
</footer>
