.weather-info {
  font-size: 1.2em;
}

.list-group-item i {
  margin-right: 1rem;
  color: #007bff;
}

.weather-container button i {
  margin-right: 1rem;
}

.hero-container {
  background-image: url('https://img.freepik.com/free-vector/sky-background-video-conferencing_23-2148623068.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}